.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
*.code-workspace

__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
.env


*.h5
*.hdf5
*.keras
*.pt
*.pth
*.ckpt

.DS_Store
.DS_Store?
._*
.Trashes
Thumbs.db
ehthumbs.db
desktop.ini